/* DATA LOG PAGE + CONTAINER FOR DATA RECORDS */
.container-for-data {
    background-color: #FFECF0;
    border: 2px solid black;
    padding: 20px;
    margin: 10px 0 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.total-count {
    margin: 10px 0;
}

.filter-records {
    display: flex;
    align-items: center;
    gap: 4px;
}

.filter-records p {
    font-weight: bold;
    font-size: 12px;
}

.filter-records i {
    font-size: 24px;
}

.filter-select {
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: #333;
}

.data-log {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    padding: 8px;
}

.data-log th,
.data-log td {
    padding: 8px 10px;
    text-align: left;
    border: 1px solid #ddd;
    overflow: hidden;
    max-width: 120px;
    font-size: 12px;
}

.data-log th {
    background-color: #9B112E;
    color: #E2FFED;
    font-weight: bold;
    font-size: 14px;
}

.data-log td {
    text-overflow: ellipsis;
    font-size: 12px;
}

.btn-edit,
.btn-delete {
    display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: black;
}

.btn-filter,
.btn-clear-filter {
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: black;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.pagination span {
    margin: 0 10px;
    font-weight: bold;
}


.export{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.export button{
    background-color: white;
    padding: 10px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
}

.export button i {
    margin-right: 5px;
}

.export button:hover{
    background-color: #9B112E;
    color: white;
}