.forgot-page {
  font-size: 16px;
  text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    position: relative;
    font-size: 1vw;
}

.form-group input[type="text"],
.form-group input[type="email"], 
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 1vh;
    background-color: #9B112E;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 1vw;
    color: white;
}

.form-group input::placeholder {
    color: white;
    font-weight: bold;
    font-size: 18px;
}