/* HISTORY PAGE */
.container-for-loginhistory,
.container-for-actionhistory {
    background-color: #FFECF0;
    border: 2px solid black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-log {
    width: 100%;
    border-collapse: collapse;
}

.history-log th,
.history-log td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.history-log th {
    background-color: #9B112E;
    color: #E2FFED;
}

.headline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.error {
    text-align: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.pagination span {
    margin: 0 10px;
    font-weight: bold;
}
