/* USER PAGE */
.user-log {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 8px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total-users, .role-filter {
    font-size: 18px;
}

.role-filter {
    display: flex;
    align-items: center;
}

.role-filter p {
    font-weight: bold;
    margin-right: 5px;
}

.role-filter select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    flex: 1;
}

.user-log th,
.user-log td {
    padding: 8px 10px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.user-log th {
    background-color: #9B112E;
    color: #E2FFED;
}

.role-form {
    width: 100%;
    margin: 0;
}

.role-form select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    flex: 1;
}

.btn-delete-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete-user i {
    margin-right: 8px;
}

.btn-delete-user:hover {
    background-color: #9B112E;
}

/* DATA LOG PAGE + CONTAINER FOR DATA RECORDS */
.container-for-data {
    background-color: #FFECF0;
    border: 2px solid black;
    padding: 20px;
    margin: 10px 0 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.total-count {
    margin: 10px 0;
}

.filter-records {
    display: flex;
    align-items: center;
    gap: 4px;
}

.filter-records p {
    font-weight: bold;
    font-size: 12px;
}

.filter-records i {
    font-size: 24px;
}

.filter-select {
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: #333;
}

.data-log {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    padding: 8px;
}

.data-log th,
.data-log td {
    padding: 8px 10px;
    text-align: left;
    border: 1px solid #ddd;
    overflow: hidden;
    max-width: 120px;
    font-size: 12px;
}

.data-log th {
    background-color: #9B112E;
    color: #E2FFED;
    font-weight: bold;
    font-size: 14px;
}

.data-log td {
    text-overflow: ellipsis;
    font-size: 12px;
}

.btn-edit,
.btn-delete {
    display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: black;
}

.btn-filter,
.btn-clear-filter {
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: black;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.pagination span {
    margin: 0 10px;
    font-weight: bold;
}
