<div class="parent-registration">
  <div class="rightSide">
    <p class="main">
      <b>404</b> - Page Not Found
    </p>
    <p class="details">
      Sorry, the page <b>{{url}}</b> doesn't exist or has been moved.
    </p>

    <div style="margin-top: 40px;">
      <a href="/" class="registration">Go Back Home</a>
    </div>
  </div>
</div>